# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
db/*.sqlite3*

/vendor

### temporary
/old/.bundle
/old/log/*
/old/tmp/*
!/old/log/.keep
!/old/tmp/.keep
/old/storage/*
!/old/storage/.keep
/old/public/assets
/old/config/master.key
/old/public/packs
/old/public/packs-test
/old/node_modules
/old/yarn-error.log
/old/db/*.sqlite3*
