<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h1>Start a new game</h1>
</div>

<%- if alert %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
<%- end %>

<%= render 'form', game: @game %>

<%= link_to 'Back', games_path %>
