<h2>Hire employee</h2>
<p>従業員を雇うと、その後毎月、決められた月給を自動的に支払い続ける。<br/>
一度雇うとクビにすることはできない。<br/>
給料の支払いから逃れる方法はない。何も生産していなくても給料を支払い続ける必要がある。</p>

<p>雇った従業員を工場に割り当てると、自動的に仕事を開始し、材料を消費して商品を毎月生産し続けていく。</p>

<pre>
Junior employee
    Recruiting $3k
    $3k/month, 10 skil

Intermediate
    Recruiting $5k
    $5k/month, 20 skil

Senior
    Recruiting $9k
    $9k/month, 40 skil
</pre>

<%- [:junior, :intermediate, :senior].each do |type| %>
  <%- next if @game.cash < Employee::RECRUITING_FEES[type] %>
  <p>
  <%= form_with(url: create_employee_game_url, method: 'post') do |form| %>
    <%= hidden_field_tag 'type', type %>
    <%= form.submit "Hire 1 #{type}" %>
  <% end %>
  </p>
<%- end %>

<p>
<%= link_to 'Back', @game %>
</p>
