<p id="notice"><%= notice %></p>

<h1>High score</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shortest months to win</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td>
          <%- if player.best_game %>
            <%= player.best_game.month %> months</td>
          <%- else %>
            N/A
          <%- end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
